---
layout: default
---

<div class="home">

  <div class="wrapper">

    <section class="intro">


      <div class="intro-hero">

        <img src="{{ site.baseurl }}{% link images/sarahpope.jpg %}" alt="Sarah Pope">

      </div>

      <div class="intro-text">

        <h1 class="intro-headline highlight"><span>Sarah Pope</span></h1>

        <h3>Product Designer</h3>

        <p class="intro-paragraph">
          Professional curious person.
        </p>

        <p>For 9+ years, I've helped businesses define and solve complex problems with holistic solutions. I'm currently a part of the team at <a href="https://www.paycor.com/">Paycor</a> building simple software to help HR leaders tackle tough work.</p>

        <p>I take on freelance projects when I have the bandwidth and I especially enjoy working with clients attempting to do some good in the world. Sound like you? <a href="mailto:hello@sarahpope.co">We should talk.</a></p>

        <!--<p>When I’m not working on web, you can find me <a href="https://www.instagram.com/p/BNsQ2eYh4nb/?taken-by=sarahmpope" target="_blank">exploring my new city</a>, herding my <a href="https://www.instagram.com/p/BNZ6oktAYit/?taken-by=sarahmpope" target="_blank">two pups</a>, or trying out <a href="https://www.instagram.com/p/BenoWMflViergiqyx5KQfXZkL2-stL9lCv6goo0/?taken-by=sarahmpope" target="_blank">new hobbies</a>.</p> -->

      </div>

    </section> <!-- end Intro Section -->



  <section class="work">

    <h2 class="highlight"><span>Selected Work</span></h2>


    <div class="project">

     <a href="{{ site.baseurl }}{% link work/hireology/index.html %}">

        <figure class="project-img">

          <img src="{{ site.baseurl }}{% link images/insights-collage.png %}" alt="Hireology Insights">

          <figcaption>

            <h2>Hireology Insights</h2>

            <h3>Giving users actionable data</h3>

          </figcaption>

        </figure>

     </a>

    </div><!-- end proj-1 -->


    <div class="project">

      <a href="{{ site.baseurl }}{% link work/byod/index.html %}">

        <figure class="project-img">

          <img src="{{ site.baseurl }}{% link images/byod-collage.png %}" alt="Bring Your Own Device Program">

          <figcaption>

            <h2>Bring-Your-Own-Device</h2>

            <h3>Helping homeowners save on utilities and increase grid stability</h3>

          </figcaption>

        </figure>

      </a>

    </div><!-- end proj-2 -->

     <div class="project">

      <a href="{{ site.baseurl }}{% link work/virtual-peaker/index.html %}">

        <figure class="project-img">

          <img src="{{ site.baseurl }}{% link images/vp-collage-2.png %}" alt="Virtual Peaker">

          <figcaption>

            <h2>Virtual Peaker</h2>

            <h3>Empowering utilities with IoT devices</h3>

          </figcaption>

        </figure>

      </a>

    </div><!-- end proj-3 -->


    <div class="project">

      <a href="{{ site.baseurl }}{% link work/zip-digital/index.html %}">

        <figure class="project-img">

          <img src="{{ site.baseurl }}{% link images/zd-collage.png %}" alt="Zip Digital">

          <figcaption>

            <h2>Zip Digital</h2>

            <h3>Crafting a flexible notification tool</h3>

          </figcaption>

        </figure>

      </a>

    </div><!-- end proj-4 -->

  </section> <!-- end Work Section -->


<!-- <section class="notes">

    <h2 class="highlight"><span>Notes</span></h2>

    {{ content }}

    <ul class="home-post-list">
      {% for post in site.posts limit:3 %}
        <li>
          {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
          <span class="post-meta">{{ post.date | date: date_format }}</span>

          <h2>
            <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
          </h2>

          {{ post.excerpt }}

        </li>
      {% endfor %}

      <h3 class="view-all-posts"><a href="{{ site.baseurl }}{% link notes/index.html %}">View all notes</a></h3>

    </ul>

  </section> -->

  </div>

</div>
