---
layout: default
---

<div class="home">

  <div class="wrapper">

    <section class="intro">


      <div class="intro-hero">

        <img src="{{ site.baseurl }}{% link images/me.jpg %}" alt="Sarah Pope">

      </div>

      <div class="intro-text">
      
        <h1 class="highlight"><span>Sarah Pope</span></h1>

        <h3>Product Designer</h3>

        <p class="intro-paragraph">
          Hi there! I help businesses solve tough techinical problems with human-focused solutions.
        </p>

        <p>I have spent most of my adult life captivated by the web and how we interact with it. As a designer, I’m all about implementing what’s best for the end user—not my ego. Helping companies solve systemic problems while creating something beautiful feels pretty great.</p>

        <p>I take on freelance projects when I have the bandwidth and I especially enjoy working with clients attempting to do some good in the world. Sound like you? <a href="">We should talk.</a></p>

        <p>When I’m not working on web, you can find me <a href="https://www.instagram.com/p/BNsQ2eYh4nb/?taken-by=sarahmpope" target="_blank">exploring my new city</a>, herding my <a href="https://www.instagram.com/p/BNZ6oktAYit/?taken-by=sarahmpope" target="_blank">two pups</a>, or trying out <a href="https://www.instagram.com/p/BenoWMflViergiqyx5KQfXZkL2-stL9lCv6goo0/?taken-by=sarahmpope" target="_blank">new hobbies</a>.</p> 

        <p>* This site is a work in progress as I stumble through learning more about CSS Grid. *</p>

      </div>

    </section> <!-- end Intro Section -->

  

  <section class="work">
    
    <h2 class="highlight"><span>Work</span></h2>


    <div class="project" data-aos="fade-up" data-aos-duration="1000" data-aos-easing="ease-out-quad">

      <a href="{{ site.baseurl }}{% link work/hireology/index.html %}">
      
        <figure class="project-img">
          
          <img src="{{ site.baseurl }}{% link images/insights-hero.jpg %}" alt="">

          <figcaption>
            
            <h2>Hireology Insights</h2>

            <h3>Giving users actionable data</h3>

          </figcaption>

        </figure>

      </a>

    </div><!-- end proj-1 -->


    <div class="project" data-aos="fade-up" data-aos-duration="1000" data-aos-easing="ease-out-quad">

      <a href="{{ site.baseurl }}{% link work/virtual-peaker/index.html %}">
      
        <figure class="project-img">
          
          <img src="{{ site.baseurl }}{% link images/byod-hero.jpg %}" alt="">

          <figcaption>
            
            <h2>Bring-Your-Own-Device</h2>

            <h3>Helping homeowners save and utilities increase grid stability</h3>

          </figcaption>

        </figure>

      </a>

    </div><!-- end proj-2 -->

     <div class="project">

      <a href="{{ site.baseurl }}{% link work/answer-automation/index.html %}">
      
        <figure class="project-img">
          
          <img src="{{ site.baseurl }}{% link images/vp-hero.jpg %}" alt="">

          <figcaption>
            
            <h2>Virtual Peaker</h2>

            <h3>Empowering utilities with IoT devices</h3>

          </figcaption>

        </figure>

      </a>

    </div><!-- end proj-3 -->


    <div class="project">

      <a href="{{ site.baseurl }}{% link work/zip-digital/index.html %}">
      
        <figure class="project-img">
          
          <img src="{{ site.baseurl }}{% link images/zipdigital.jpg %}" alt="">

          <figcaption>
            
            <h2>Zip Digital</h2>

            <h3>Crafting a flexible notification tool</h3>

          </figcaption>

        </figure>

      </a>

    </div><!-- end proj-4 -->
    

    <div class="project">

      <a href="{{ site.baseurl }}{% link work/answer-automation/index.html %}">
      
        <figure class="project-img">
          
          <img src="{{ site.baseurl }}{% link images/answerautomation.jpg %}" alt="">

          <figcaption>
            
            <h2>Answer Automation</h2>

            <h3>Redesigning the call path</h3>

          </figcaption>

        </figure>

      </a>

    </div><!-- end proj-5 -->


  </section> <!-- end Work Section -->


  <!--<section class="notes">

    <h2 class="highlight"><span>Notes</span></h2>
    
    {{ content }}

    <ul class="post-list">
      {% for post in site.posts limit:3 %}
        <li>
          {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
          <span class="post-meta">{{ post.date | date: date_format }}</span>

          <h2>
            <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
          </h2>

          {{ post.excerpt }}

        </li>
      {% endfor %}

      <p class="view-all-posts"><a href="{{ "/feed.xml" | relative_url }}">See all posts </a></p>

    </ul>

  </section> -->

  </div>

</div>
